* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
    background-image: url(img/andrew-s-ouo1hbizWwo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: rgba(53, 51, 51, 0.315);
    border: 5px black;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin: 2rem;
    text-decoration: underline;

}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 4px;

}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all 0.5s;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/* pagina obrigado */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    background-color: #101026;
    flex-direction: column;
   
}

.text {
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
    text-shadow: 0px 0px 20px #000000;

}

.paragrafo {
    color: #f5f5f5;
    margin-bottom: 50px;
    font-size: 16px;

}

.btn {
    padding: 15px 55px;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}



#btn {
    padding: 15px 55px;
    background-color: transparent;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
    width: 400px;
    border: none;
    text-decoration: none;
    border: 2px solid #ffffff;
    color: white;
}

#btn:hover {
    border-radius: 16px;
    background-color: #f5f5f5;
    color: black;
}